
h2, h3, h4, h5, h6, h7, h8 {
 color: #FF4628;   
}

p {
  color: #2e302f;
  font-size: large
}

h1{
   color: #FF4628;
    margin: 20px -20px;
}

a {
  color: #FF4628;
}

img {
  padding: 0px 0px 0px 20px;
}